<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">

	<welcome-file-list>
	  	<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<!-- servlet -->
	<servlet>
		<servlet-name>goHomePageServlet</servlet-name>
		<servlet-class>controller.servlet.GoHomePageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>projectChangeAsyncServlet</servlet-name>
		<servlet-class>controller.servlet.async.ProjectChangeAsyncServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>phaseChangeAsyncServlet</servlet-name>
		<servlet-class>controller.servlet.async.PhaseChangeAsyncServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>saveDataServlet</servlet-name>
		<servlet-class>controller.servlet.SaveDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sendDataServlet</servlet-name>
		<servlet-class>controller.servlet.SendDataServlet</servlet-class>
	</servlet>

	
	<!-- servlet mapping -->
	<servlet-mapping>
		<servlet-name>goHomePageServlet</servlet-name>
		<url-pattern>/homePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>projectChangeAsyncServlet</servlet-name>
		<url-pattern>/projChange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>phaseChangeAsyncServlet</servlet-name>
		<url-pattern>/phaseChange</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>saveDataServlet</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sendDataServlet</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- listener -->
	<listener>
		<listener-class>listener.ContextListener</listener-class>
	</listener>
</web-app>